/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Main
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-color: #5722CD;
    --blue-color: #4845E4;
    --pink-color: #ED4385;
    --black-color: #0C0C0C;
    --light-purple-color: #F2F0FF;
    --light-grey-color: #F3F6F9;
    --grey-color: #7A7A7A;
}


/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", cursive;
}

p {
    font-family: "roboto", sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-basis: 1200px;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%
}

.guide-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 50vh;
    padding-top: 50px;
    gap: 50px;
}

.guide-text-box {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.squiggle-image {
    width: 50px;
}

.guide-text-box p:last-of-type {
    color: var(--purple-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.guide-image-box {
    display: flex;
    max-width: 800px;
    flex-shrink: 1;
    flex-grow: 0;


}

.guide-image {
    width: 100%;
    box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.3);

}

section.outer-container:nth-of-type(odd) .guide-wrapper {
    flex-direction: row-reverse;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background: linear-gradient(to right, var(--blue-color), var(--purple-color));
    min-height: 50vh;
    position: relative;
}

.navigation-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navigation-header ul {
    list-style: none;
    display: flex;
    flex-basis: 300px;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;

}


a,
a:active {
    text-decoration: none;
    font-family: "roboto", sans-serif;
    color: white;
    font-weight: 200;
    cursor: default;
}

.content-header {
    display: flex;
    flex-basis: auto;
    width: 100%;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
    color: white;
    padding: 100px;
}

button {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: var(--pink-color);
    text-transform: uppercase;
    font-size: 10px;
}

.content-header img {
    position: absolute;
    bottom: -30px;
    width: 60px;

}

/* --------------- 4.2 Introduction ------------------- */
.introduction {
    display: flex;
    gap: 20px;
    flex-basis: auto;
    width: 100%;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}

.introduction p {
    font-family: "Merriweather", cursive;
    font-size: 25px;
    font-weight: 600;
    color: var(--purple-color);
    width: 100%;


}

.question {
    font-family: "Merriweather", cursive;
    font-size: 16px;
    margin-top: -50px;
    padding-bottom: 50px;


}

.question a {
    color: var(--purple-color);
    cursor: default;
    font-weight: 500;

}

/* ------------------------------- 4.3 Main -------------------------------- */
.rollingstone-background {
    background-color: var(--light-grey-color);
}


/* ------------------------------- 5. Media Queries -------------------------------- */